<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="¿Estas aburrido de ir a la mima fondita de siempre y quisieras
    conocer más lugares en donde pasar un buen rato, después de un arduó día de escuela?¿Quieres
    tener la seguridad de encontrar un departamento acorde al departamento de universidad de 
    tus sueños?"/>
    <meta name="robots" content="index,follow" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CampusHomes</title>
</head>
<body>
    {{{body}}}
</body>
</html>